.container {
    height: 100vh;
    margin: 0 auto;
}

.container section {
    display: inline-block;
}


.skills {
    width: 70%;
    /* margin: 0 auto; */
}

section h1,
section h2 {
    text-align: center;
}

.skills li {
    list-style: none;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 0.6rem;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.912);
}

.wrapper {
    border: 1px solid black;
    background-color: #0055FF;
    margin-bottom: 0.7rem;
}

.skills section {
    margin-top: 4rem;
}

.interests {
    width: 20%;
}
.interests li {
    display: inline-block;
    margin: 0.8rem;
    border-radius: 50px;
    padding: 0.7rem 0.9rem;
    background-color: rgb(72, 70, 70);
    color: white;
}