.contact {
    margin: 0 auto;
    margin: 4rem;
    font-weight: bold;
}

section.container {
    text-align: center;
}

form {
    border: 1px solid lightgray;
    border-radius: 30px;
    /* padding: 2rem; */
}

form input {
    width: 100%;
}

form textarea {
    width: 100%;
    height: 50vh;
    border: none;
}

input {
    color: #0055FF;
}

